                                                body {
                                                    font-family: Arial, Helvetica, sans-serif;
                                                    position: relative;
                                                }
                                                
                                                #logo {
                                                    background-color: #373b4d;
                                                    color: f2f2f2;
                                                    margin-left: 0px;
                                                }
                                                
                                                #logo1 {
                                                    background-color: #373b4d;
                                                    color: f2f2f2;
                                                    margin-left: 0px;
                                                }
                                                
                                                .topnav {
                                                    position: fixed;
                                                    overflow: hidden;
                                                    background-color: #373b4d;
                                                    position: static;
                                                    z-index: 1;
                                                }
                                                
                                                #first {
                                                    margin-left: auto;
                                                }
                                                
                                                .topnav a {
                                                    float: left;
                                                    display: block;
                                                    color: #f2f2f2;
                                                    text-align: center;
                                                    padding: 20px 18px;
                                                    text-decoration: none;
                                                    font-size: 17px;
                                                    margin-left: 0px;
                                                    letter-spacing: 2px;
                                                    transition: 0.5s;
                                                }
                                                
                                                .topnav a h1 {
                                                    margin-block-start: 0;
                                                    margin-block-end: 0;
                                                    font-size: 20px;
                                                }
                                                
                                                .topnav a h1 span {
                                                    font-size: 24px;
                                                    color: rgb(196, 72, 14);
                                                }
                                                
                                                .topnav a h1:hover {
                                                    margin-block-start: 0;
                                                    margin-block-end: 0;
                                                    font-size: 20px;
                                                }
                                                
                                                .topnav a:hover {
                                                    color: rgb(196, 72, 14);
                                                    font-size: 22px;
                                                    font-weight: bolder;
                                                }
                                                
                                                .topnav a::after {
                                                    position: absolute;
                                                    content: "";
                                                    width: 100%;
                                                    height: 3px;
                                                    top: 100%;
                                                    left: 0;
                                                    transition: transform 0.5s;
                                                    transform: scaleX(0);
                                                    transform-origin: right;
                                                }
                                                
                                                .topnav a:hover::after {
                                                    transform: scaleX(1);
                                                    transform-origin: left;
                                                }
                                                
                                                .topnav a.active {
                                                    color: rgb(196, 72, 14);
                                                    font-size: 22px;
                                                    font-weight: bolder;
                                                }
                                                
                                                .topnav .icon {
                                                    display: none;
                                                }
                                                
                                                @media screen and (max-width: 600px) {
                                                    .topnav a:not(:first-child) {
                                                        display: none;
                                                    }
                                                    .topnav a.icon {
                                                        float: right;
                                                        display: block;
                                                    }
                                                    .topnav a {
                                                        letter-spacing: 0;
                                                        margin-left: 0%;
                                                    }
                                                    #first {
                                                        margin-left: 0px;
                                                    }
                                                }
                                                
                                                @media screen and (max-width: 600px) {
                                                    .topnav.responsive {
                                                        position: relative;
                                                    }
                                                    .topnav.responsive .icon {
                                                        position: absolute;
                                                        right: 0;
                                                        top: 0;
                                                    }
                                                    .topnav.responsive a {
                                                        float: none;
                                                        display: block;
                                                        text-align: left;
                                                    }
                                                }
                                                
                                                .banner {
                                                    width: 100%;
                                                    height: 50vh;
                                                    position: relative;
                                                }
                                                
                                                .banner img {
                                                    height: 100%;
                                                    width: 100%;
                                                }
                                                
                                                @media screen and (max-width: 600px) {
                                                    .banner {
                                                        width: 100%;
                                                        height: 30vh;
                                                        position: relative;
                                                    }
                                                    .banner img {
                                                        height: 100%;
                                                        width: 100%;
                                                    }
                                                }
                                                /* Footer */
                                                
                                                .footer {
                                                    height: 90px;
                                                    width: 100%;
                                                    padding: 0;
                                                    background-color: black;
                                                }
                                                
                                                .footer h4 {
                                                    text-align: center;
                                                    font-size: 18px;
                                                    color: white;
                                                    margin-top: -0px;
                                                    padding-top: 25PX;
                                                }
                                                
                                                @media screen and (max-width: 600px) {
                                                    .footer {
                                                        height: 20px;
                                                        width: 100%;
                                                        background-color: black;
                                                        position: absolute;
                                                        bottom: 0;
                                                    }
                                                    .footer h4 {
                                                        text-align: center;
                                                        font-size: 9px;
                                                        color: white;
                                                        margin-top: -0px;
                                                        padding-top: 10PX;
                                                    }
                                                }