.dashboard .pmd-card {
    height: calc(100% - 30px);
    margin-bottom: 30px;
    box-shadow: 0 6px 18px 0 rgb(0 0 0 / 6%);
}

.pmd-card {
    display: block;
    padding: 1px 0;
    margin-bottom: 30px;
    background-color: #fff;
    border: none;
    border-radius: .25rem;
    -moz-box-shadow: 0 6px 18px 0 rgba(0, 0, 0, .06);
    -webkit-box-shadow: 0 6px 18px 0 rgb(0 0 0 / 6%);
    box-shadow: 0 6px 18px 0 rgb(0 0 0 / 6%);
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

*,
 ::after,
 ::before {
    box-sizing: border-box;
}

user agent stylesheet div {
    display: block;
}

body {
    font-family: Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    line-height: 1.5;
    color: #455056;
    background-color: #f2f8f9;
    font-weight: 400;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

:root {
    --blue: #3075BA;
    --indigo: #6610f2;
    --purple: #7266ba;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #ff5722;
    --yellow: #ffc107;
    --green: #4caf50;
    --teal: #2bbbad;
    --cyan: #03a9f4;
    --white: #fff;
    --gray: #868e96;
    --gray-dark: #343a40;
    --primary: #3075BA;
    --secondary: #4caf50;
    --success: #4caf50;
    --info: #03a9f4;
    --warning: #ffc107;
    --danger: #ff5722;
    --light: #dedfdf;
    --dark: #929495;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family-monospace: "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
}

*,
 ::after,
 ::before {
    box-sizing: border-box;
}

*,
 ::after,
 ::before {
    box-sizing: border-box;
}