body {
    margin: 0;
    padding: 0;
    font-family: Poppins;
}

.navbar {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #373b4d;
    width: 100%;
    height: 70px;
    z-index: 1;
}

.nav {
    display: flex;
    justify-content: right;
    list-style: none;
    margin-right: 15%;
}

.logo {
    flex: 1 1 auto;
    margin-left: 10%;
    letter-spacing: 1px;
}

a {
    margin: 15px;
    color: #e5dbcf;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover {
    color: rgb(0, 0, 0);
    font-size: large;
    font-weight: bolder;
}

.banner-area {
    position: relative;
    background-image: url(banner.jpg);
    width: 100%;
    background-repeat: no-repeat;
    height: 100vh;
    -webkit-background-size: cover;
    background-size: cover;
}